.bread-img {
  width: 15rem;
}
.bread-info {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

#posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem;
  grid-gap: 3rem;
  text-align: center;
  background-color: wheat;
  padding: 3rem;
}
.comments {
  margin: 1rem;
  padding: 0.5rem;
  background: wheat;
  text-align: center;
}

#error-message {
  padding: 0.5rem;
  margin: 1rem auto;
  border: 1px solid black;
  max-width: 300px;
}

.error-message {
  color: red;
}

#form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 300px;
  margin: 0 auto;
  padding: 0.5rem;
}

#form > * {
  margin: 10px;
}

h1,
h2 {
  font-family: "Cherry Swash", cursive;
  text-align: center;
}

h1 {
  font-size: 3rem;
}
